body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,
.footer {
    display: flex;
    padding: 0 10vw;
}

.description-section,
.features-section,
.quotes-section,
.sign-up-section {
    display: flex;
    flex: 1;
    padding: 5vh 10vw;
}

.quotes-section {
    padding: 5vh 20vw;
}

.header,
.description-section,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.description-section {
    justify-content: space-between;
    gap: 50px;
}

.description-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.description-content p,
.header ul {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #acacac;
}

button,
.sign-up-modal {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

button {
    padding: 5px 20px;
    font-weight: 900;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #0f69fa;
}

.header {
    justify-content: space-between;
}

.features-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.features-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.features-content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.features-item {
    max-width: 150px;
}

.description-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: gray;
}

.features-image {
    border: 3px solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.quotes-section {
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-person {
    text-align: right;
    font-weight: 900;
}

.quotes-section p {
    margin: 0;
}

.sign-up-modal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    padding: 4vh 0;
}

.sign-up-modal button {
    height: 40px;
    border: 2px solid white;
}

.sign-up-text p {
    margin: 0;
}

.sign-up-title {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 40px;
}